@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
    box-sizing: inherit;
}
  
html {
    /* 100% = 16px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Inter', sans-serif!important;
    box-sizing: border-box;
}

/* common */
    .mt-20 {
    margin-top: 20px;
}